@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

body::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .forBackground {
    background-image: url(../src/assets/Group\ 1994.png), url(../src/assets/Group\ 1995.png),
      url(../src/assets/Group\ 1993.png);
    background-repeat: no-repeat;
    background-size: 120px, 180px, 180px;
    background-position: 430px 60px, 248px 10px, 320px 2px;
  }
}
